<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Member Form</title>
</head>
<body>
<div class="container">
    <form action="/members/new" method="post"> <!-- "/members/new" 안에서 post 방식으로 동작 -->
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" id="name" name="name" placeholder="이름을 입력하세요">

            <label for="sex">성별</label>
            <input type="text" id="sex" name="sex" placeholder="성별을 입력하세요">
        </div>
        <button type="submit">등록</button>
    </form>
</div>
</body>
</html>